venv
*__pycache__*
venv
StarGAN/fer2013
StarGAN/stargan_custom
StarGAN/fer2013-2
StarGAN/rafdb
StarGAN/rafdb-2
StarGAN/data
gen_data
cycle-gan/datasets
StarGAN/trainned_models.zip
StarGAN/data.zip
cycle-gan/outputs
cycle-gan/logs
cycle-gan/disc_t.pth.tar
cycle-gan/disc_r.pth.tar
cycle-gan/gen_rt.pth.tar
cycle-gan/gen_tr.pth.tar

